# Ignore dependencies
node_modules/

# Ignore environment variables
.env

# Ignore log files
*.log
npm-debug.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build artifacts
dist/
build/
